/* Write your code here. */
.app-container {
  
  display: flex;
  justify-content: center;
}

.gallary-container {
  display:flex;
  flex-direction:column;
  width:85%;
  margin-top:34px;
  margin-bottom:34px;
  max-width:1140px;
}


.heading {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto';

  color: black;
}

.description {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  color: black;
}

.thumbnail-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0px;
}

.selected-image {
  border-radius: 18px;
}
